[submodule "upstream/kaffeeklatsch"]
	path = upstream/kaffeeklatsch
	url = git@github.com:markandre13/kaffeeklatsch.git
[submodule "upstream/corba.js"]
	path = upstream/corba.js
	url = git@github.com:markandre13/corba.js.git
[submodule "upstream/corba.cc"]
	path = upstream/corba.cc
	url = git@github.com:markandre13/corba.cc.git
[submodule "upstream/makehuman.js"]
	path = upstream/makehuman.js
	url = git@github.com:markandre13/makehuman.js.git
[submodule "upstream/mediapipe_cc_lib"]
	path = upstream/mediapipe_cc_lib
	url = git@github.com:markandre13/mediapipe_cc_lib.git
[submodule "upstream/glm"]
	path = upstream/glm
	url = https://github.com/g-truc/glm.git
[submodule "upstream/libeio"]
	path = upstream/libeio
	url = https://github.com/kindy/libeio.git
